* {vertical-align: top;}

.wrapper {
	background: #fff;
	width:960px;
	margin:0 auto 0 auto;
}

.b {
position: absolute;
	top: 0px;
	bottom: 0px;

}

.a {
position: absolute;
	top: 550px;
	left: 435px;
}

.c {
position: absolute;
	top: 580px;
	left: 470px;
}

.e {
position: absolute;
	top: 585px;
	left: 500px;
}

.f {
position: absolute;
	top: 565px;
	left: 500px;
}

.d {
	position: fixed;
	top: 0;
	left: 0;
}