* {vertical-align: top;}

.wrapper {
	background: #fff;
	width:960px;
	margin:0 auto 0 auto;
}

.b {
position: absolute;
	top: 0px;
	bottom:0px;

}

.a {
position: absolute;
	top: 270px;
	left: 300px; 
}


.button-1a-wrapper {
	position: absolute;
	top: 100px;
	left: 345px;

}

.button1 {
	width: 420px;
	height: 560px;
	background: url(../img/button2.png) no-repeat;
	font-size: 20px;
	transition: all 500ms ease;
}

.button1:hover {
	transform:translateY(-300px);

}

.hide {
	transform:translateY(-300px);

}

h5 { 
   position: absolute; 
   top: 295px; 
   left: 650px; 
   width: 100%; 
   color: #000;
   font-family: arial;
	letter-spacing: 5px;
	margin:0;
	padding:50px;
}

h5:hover {
	color: #ca00ff;
}
h6 { 
   position: absolute; 
   top: 245px; 
   left: 650px; 
   width: 100%; 
   color: #000;
   font-family: arial;
	letter-spacing: 5px;
	margin:0;
	padding:50px;
}

.d {
	position: fixed;
	top: 0;
	left: 0;
}


.container:hover {  
border:2px purple;  
box-shadow: : 0 0 5px #333;  
-webkit-box-shadow: 0 0 5px #333;  
-moz-box-shadow: 0 0 5px #333;  
-o-box-shadow: 0 0 5px #333;  
-ms-box-shadow: 0 0 5px #333;
}

