* {vertical-align: top;}

.wrapper {
	background: #fff;
	width:960px;
	margin:0 auto 0 auto;
}

.b {
position: absolute;
	top: 0px;
	bottom:0px;

}

.a {
position: absolute;
	top: 60px;
	left: 475px; 
}

.c {
position: absolute;
	top: 150px;
	left: 175px; 
}




h5 { 
   position: absolute; 
   top: 610px; 
   left: 580px; 
   width: 100%; 
   color: #000;
   font-family: arial;
	letter-spacing: 5px;
	margin:0;
	padding:50px;
}

h6 { 
   position: absolute; 
   top: 500px; 
   left: 580px; 
   width: 100%; 
   color: #000;
   font-family: arial;
	letter-spacing: 5px;
	margin:0;
	padding:50px;
	font-size: 12px;
}

h6:hover {
	color: #ca00ff;
}

.d {
	position: fixed;
	top: 0;
	left: 0;
}


.container:hover {  
border:2px purple;  
box-shadow: : 0 0 5px #333;  
-webkit-box-shadow: 0 0 5px #333;  
-moz-box-shadow: 0 0 5px #333;  
-o-box-shadow: 0 0 5px #333;  
-ms-box-shadow: 0 0 5px #333;
}


.hide {
	display: none;
}

