.image { 
   position: relative; 
   width: 100%;
}

h1 { 
   position: absolute; 
   top: 170px; 
   left: 2px; 
   width: 100%;
   }

   h1 span {
   	color: black; 
	font-size: 24px;
	line-height: 19px;
	letter-spacing: 6px;
   padding: 10px;
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: -5px; 
   width: 100%;
   }

   h2 span {
   	color: black; 
	font-size: 40px;
	line-height: 80px;
	letter-spacing: 5px;
   padding: 10px;
} 
   
   .image1 { 
   position: relative; 
   width: 100%;
}


h3 { 
   position: absolute; 
   top: 70px; 
   left: -5px; 
   width: 100%;
   }

   h3 span {
   	color: black; 
	font-size: 28px;
	line-height: 35px;
	letter-spacing: 2.92px;
   
} 
