* {vertical-align: top;}

body {
	margin:0;
	padding:0;
	font-size: 0;
}


.wrapper {
	background: #fff;
	width:960px;
	margin:0 auto 0 auto;
}

.c {
font-size: 15px;	
display: inline-block;
background:#ff0;
margin: 0 15px 20px 15px;
}

.b {
	margin: 0 15px 0px 15px
}

.d {
	position: fixed;
	top: 0;
	left: 0;
}

.e {
	position: absolute;
	top: 300px;
	left: 100px;
}

.f {
	position: absolute;
	top: 1730px;
	left: 220px;
}

.g {
	position: absolute;
	top: 2390px;
	left: 309px;
}

.h {
	position: absolute;
	top: 3350px;
	left: 215px;
}

.i {
	position: absolute;
	top: 3750px;
	right: 150px;
}

.j {
	position: absolute;
	top: 4450px;
	left: 195px;
}

.k {
	position: absolute;
	top: 4770px;
	right: 130px;
}

.l {
	position: absolute;
	top: 4940px;
	left: 205px;
}

.m {
	position: absolute;
	top: 5505px;
	right: 290px;
}

.n {
	position: absolute;
	top: 5970px;
	left: 120px;
}

.o {
	position: absolute;
	top: 6300px;
	right: 190px;
}

.p {
	position: absolute;
	top: 6730px;
	left: 120px;
}

.q {
	position: absolute;
	top: 7200px;
	right: 210px;
}

.r {
	position: absolute;
	top: 7790px;
	left: 150px;
}

.s {
	position: absolute;
	top: 8150px;
	right: 150px;
}

.ff {
	position: absolute;
	top: 8930px;
	left: 220px;
}

.gg {
	position: absolute;
	top: 9590px;
	left: 309px;
}

.hh {
	position: absolute;
	top: 10550px;
	left: 215px;
}

.ii {
	position: absolute;
	top: 10950px;
	right: 150px;
}

.jj {
	position: absolute;
	top: 11650px;
	left: 195px;
}

.kk {
	position: absolute;
	top: 11970px;
	right: 130px;
}

.ll {
	position: absolute;
	top: 12140px;
	left: 205px;
}

.mm {
	position: absolute;
	top: 12705px;
	right: 290px;
}

.nn {
	position: absolute;
	top: 13170px;
	left: 120px;
}

.oo {
	position: absolute;
	top: 13500px;
	right: 190px;
}

.pp {
	position: absolute;
	top: 13930px;
	left: 120px;
}

.qq {
	position: absolute;
	top: 14400px;
	right: 210px;
}

.rr {
	position: absolute;
	top: 14990px;
	left: 150px;
}

.ss {
	position: absolute;
	top: 15350px;
	right: 150px;
}


.fff {
	position: absolute;
	top: 15840px;
	left: 220px;
}

.ggg {
	position: absolute;
	top: 16500px;
	left: 309px;
}

.hhh {
	position: absolute;
	top: 17460px;
	left: 215px;
}

.iii {
	position: absolute;
	top: 17760px;
	right: 150px;
}

.jjj {
	position: absolute;
	top: 18560px;
	left: 195px;
}

.kkk {
	position: absolute;
	top: 18880px;
	right: 130px;
}

.lll {
	position: absolute;
	top: 19050px;
	left: 205px;
}

.mmm {
	position: absolute;
	top: 19615px;
	right: 290px;
}

.nnn {
	position: absolute;
	top: 20080px;
	left: 120px;
}

.ooo {
	position: absolute;
	top: 20410px;
	right: 190px;
}

.ppp {
	position: absolute;
	top: 20840px;
	left: 120px;
}

.qqq {
	position: absolute;
	top: 21310px;
	right: 210px;
}

.rrr {
	position: absolute;
	top: 21900px;
	left: 150px;
}

.sss {
	position: absolute;
	top: 22370px;
	right: 150px;
}

.ffff {
	position: absolute;
	top: 23040px;
	left: 220px;
}

.gggg {
	position: absolute;
	top: 23700px;
	left: 300px;
}

.hhhh {
	position: absolute;
	top: 24660px;
	left: 215px;
}

.iiii {
	position: absolute;
	top: 24990px;
	right: 140px;
}

.jjjj {
	position: absolute;
	top: 25760px;
	left: 185px;
}

.kkkk {
	position: absolute;
	top: 26090px;
	right: 130px;
}

.llll {
	position: absolute;
	top: 26280px;
	left: 205px;
}

.mmmm {
	position: absolute;
	top: 26805px;
	right: 285px;
}

.nnnn {
	position: absolute;
	top: 27270px;
	left: 120px;
}

.oooo {
	position: absolute;
	top: 27640px;
	right: 190px;
}

.pppp {
	position: absolute;
	top: 28000px;
	left: 120px;
}

.qqqq {
	position: absolute;
	top: 28540px;
	right: 210px;
}

.rrrr {
	position: absolute;
	top: 29130px;
	left: 120px;
}

.ssss {
	position: absolute;
	top: 29420px;
	right: 150px;
}

.t {
	position: absolute;
	top: 29670px;
	left: 390px;
}


.no-left-gutter {margin-left:0;}
.no-right-gutter {margin-right:0;}
.whitespace-fix {font-size:0;}

.c1 {width:130px; background: #fff}
.c2 {width:290px; background: #fff}
.c3 {width:450px; background: #fff}
.c5 {width:770px; background: #fff}
.c6 {width:930px; background: #fff}
.c4 {width:610px; background: #fff}
.c4 {width:610px; background: #fff}

img {width:100%;}