* {vertical-align: top;}

.wrapper {
	background: #fff;
	width:960px;
	margin:0 auto 0 auto;
}

.b {
position: absolute;
	top: 0px;
	bottom: 0px;

}


.c {
position: absolute;
	top: 420px;
	left: 0px;
}

.a {
position: absolute;
	top: 185px;
	right: 190px;
}

.e {
position: absolute;
	top: 750px;
	left: 440px;
}

.f {
position: absolute;
	top: 800px;
	left: 360px;
}



.d {
	position: fixed;
	top: 0;
	left: 0;
}

h5 { 
   position: absolute; 
   top: 685px; 
   left: 690px; 
   width: 100%; 
   color: #000;
   font-family: arial;
	letter-spacing: 5px;
	margin:0;
	padding:50px;
}

.container:hover {  
border:2px purple;  
box-shadow: : 0 0 5px #333;  
-webkit-box-shadow: 0 0 5px #333;  
-moz-box-shadow: 0 0 5px #333;  
-o-box-shadow: 0 0 5px #333;  
-ms-box-shadow: 0 0 5px #333;
}

