* {vertical-align: top;}

.wrapper {
	background: #fff;
	width:960px;
	margin:0 auto 0 auto;
}

.b {
position: fixed;
	top: 0px;
	bottom: 0px;

}

.a {
position: absolute;
	top: 850px;
	left: 235px;
}

h5:hover {
	color: #ca00ff;
}

h5 { 
   position: absolute; 
   top: 1595px; 
   left: 420px; 
   width: 100%; 
   color: #FF5983;
   font-family: arial;
	letter-spacing: 5px;
	margin:0;
	padding:50px;
}

.d {
	position: fixed;
	top: 0;
	left: 0;
}

.hide {
	display: none;
}
