* {vertical-align: top;}

.wrapper {
	background: #fff;
	width:960px;
	margin:0 auto 0 auto;
}

.b {
position: absolute;
	top: 0px;
	bottom:0px;

}

.a {
position: absolute;
	top: 40px;
	left: 700px;
}

.j {
position: absolute;
	top: 95px;
	left: 234px;
}
.c {
position: absolute;
	top: 340px;
	left: 194px;
}
.e {
position: absolute;
	top: 270px;
	left: 528px;
}
.f {
position: absolute;
	top: 490px;
	left: 574px;
}
.g {
position: absolute;
	top: 550px;
	left: 454px;
}
.h {
position: absolute;
	top: 590px;
	left: 404px;
}
.i {
position: absolute;
	top: 610px;
	left: 494px;
}



h5 { 
   position: absolute; 
   top: 30px; 
   left: 145px; 
   width: 100%; 
   color: #000;
   font-family: arial;
	letter-spacing: 5px;
	margin:0;
	padding:50px;
}

h4 { 
   position: absolute; 
   top: 105px; 
   left: 145px; 
   width: 100%; 
   color: #000;
   font-family: arial;
	letter-spacing: 5px;
	margin:0;
	padding:50px;
}

.d {
	position: fixed;
	top: 0;
	left: 0;
}


.container:hover {  
border:2px purple;  
box-shadow: : 0 0 5px #333;  
-webkit-box-shadow: 0 0 5px #333;  
-moz-box-shadow: 0 0 5px #333;  
-o-box-shadow: 0 0 5px #333;  
-ms-box-shadow: 0 0 5px #333;
}


.hide {
	display: none;
}